html {
  font-size: 15px; /* px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 10 píxeles de altura */
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal; /* Este debe ser el resto del resultado que obtuviste de Google fonts */
  background-color: #00539f; /*color de fondo de la pagina*/
}
body {
  width: 600px; /*el ancho del cuerpo será de 600px (luego se le sumará el padding que demos */
  margin: 20px auto;	/*damos un margen 20 px al borde superior e inferior y con auto divide a partes iguales los bordes laterales
						centrando el cuerpo*/
  background-color: #ff9500; /*color de fondo del cuerpo*/
  padding: 0px 20px 20px 20px; /*márgenes dentro del cuerpo: arriba, izquierda, abajo, izquierda*/
  border: 2px solid black; /*aplicamos un borde al cuerpo*/
}
h1 {	/*estilo del encabezado de nivel 1*/
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px purple;
}
h2 {	/*estilo del encabezado de nivel 2*/
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: black;
  text-shadow: 3px 3px 1px purple;
}
h3 {	/*estilo del encabezado de nivel 3*/
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: black;
}
p,
li,
a {		/*estilo a la vez para p(párrafo), li(listas) y a(links)*/
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1,5px;
}
.psico {	/*le doy estilo solamente a la imagen de clase "psico"*/
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.mi-boton {
	margin: 10px 100px auto;
	padding: 10px 10px;
	background-color: #00539f;
	color: #ff9500;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.mi-boton:hover {
  background-color: #45a049;
}
.mi-boton:active {
  background-color: #3e8e41;
}
	